body{
    background-image: url("./1.jpg");
    background-size: cover;
    background-position: center center;
    min-height: 90vh;
    font-weight: bolder ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.countdown-container
{
   display: flex;
   flex-direction: row;
   font-size: 1.5rem;
}
h1{
    font-size: 5rem;
    margin-top: -10rem;
}
.rainbow-text {
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);  
     -webkit-background-clip: text;
    color: transparent;
  }
.big-txt
{
    font-size: 4.5rem;
    line-height: 1;
    margin: 0 2rem;
}
.contdown-col
{
    margin-left: 2.5rem;
}
.countdown-time
{
    padding-left: 0.67cm;
}